 <h1>Edit Profile</h1>

<%= render 'form', profile: @profile_item %>

 <%= link_to "Delete", profile_path(@profile_item.id), method: :delete, data: { confirm: 'Are you sure?' } %>
 <%= link_to "Show", profile_show_path(@profile_item.id)  %> 
 <%= link_to "Back", profiles_path %> 