<h1>Profiles</h1>
 <h3>What do you do?</h3>

<p class="lead"><%= link_to  "Create New Item", new_profile_path %>
    <div class="row column sortable">
        <%= render partial: 'profile_item', collection: @profile_items %>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/250x250">
              <h5>Devcamp Portfolio</h5>
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/250x250">
              <h5>My Site</h5>
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/250x250">
              <h5>My Site</h5>
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/250x250">
              <h5>My Site</h5>
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/250x250">
              <h5>My Site</h5>
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/250x250">
              <h5>My Site</h5>
            </div>
    </div>
</div> 
