<h1>Homie Sweets = </h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h2>Posts</h2>
<p>Find me in app/views/pages/home.html.erb</p>
<%= @posts.inspect %>

<h3>Profiles  Main</h3>
<%= @profiles.inspect%>

<%= link_to "Create Profile", new_profile_path %>


<hr>

<%= link_to "Edit Profile", edit_user_registration_path %>